@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
    background: linear-gradient(#2C3156,#1b1a33);
    overflow: hidden;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.logo{
    width: 170px;
}

.logo img {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li{
    padding: 0 15px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}

section {
    display: flex; 
    position: relative;
    min-height: 100vh;
    align-items: center;
}

.texto {
    color: white;
    width: 50%;
    text-align: center;
}

.texto h1 {
    font-size: 5rem;
    margin-top: 10px;
    text-shadow: 3px 0 red, -3px 0 red,
     0 3px red, 0 -3px red,
     2px 2px red, -2px -2px red,
     2px -2px red, -2px 2px red;
}

.texto p {
    font-size: 20px;
    margin: 30px 0;
    font-weight: 400;
    text-align: left;
}

.texto div{
    text-align: left;
}

.texto div button {
    font-size: 22px;
    color: white;
    border: none;
    background-color: transparent;
    margin-right: 30px;
    font-weight: 300;
}

.texto div button :first-child {
    display: inline-block;
    align-items: center;

}

.texto div button:last-child {
    border: 1px solid white;
    border-radius: 50px;
    padding: 20px;

}

.img {
    position: absolute;
    right: -50px;
    bottom: -40px;
}

.img img {
    width: 650px;
}
